/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 0rem;
}

h1 {
  font-size: 1.5rem;
}

input {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 75%;
  font-weight: 300;
  line-height: 2.75rem;
  text-align: center;
  --tw-bg-opacity: 0.16;
  background-color: rgba(196, 196, 196, var(--tw-bg-opacity));
}

.button-colour {
  --tw-bg-opacity: 0.55;
  background-color: rgba(252, 180, 184, var(--tw-bg-opacity));
}

.project-boards {
  line-height: 5rem;
}

.project-box {
  --tw-bg-opacity: 0.16;
  background-color: rgba(196, 196, 196, var(--tw-bg-opacity));
}

.login-signup-component {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
  text-align: center;
}

.account-form {
  grid-column-start: 2;
  grid-column: span 4 / span 4;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

#home-desc {
  text-align: center;
  font-size: 140%;
  padding: 0.5rem;
}

.home-bg {
  --tw-bg-opacity: 0.16;
  background: rgba(225, 226, 228, var(--tw-bg-opacity));
}
